ProjectTransport/TransportProject/TransportProject/Service References/ProjectService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GPSDataService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GPSDataService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1337/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Route">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndPoint" nillable="true" type="tns:GPSPos" />
      <xs:element minOccurs="0" name="RouteData" nillable="true" type="tns:ArrayOfGPSData" />
      <xs:element minOccurs="0" name="RouteId" type="xs:int" />
      <xs:element minOccurs="0" name="RouteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartPoint" nillable="true" type="tns:GPSPos" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Route" nillable="true" type="tns:Route" />
  <xs:complexType name="GPSPos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="GPSPos" nillable="true" type="tns:GPSPos" />
  <xs:complexType name="ArrayOfGPSData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GPSData" nillable="true" type="tns:GPSData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGPSData" nillable="true" type="tns:ArrayOfGPSData" />
  <xs:complexType name="GPSData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalCosts" nillable="true" type="tns:ArrayOfAdditionalCost" />
      <xs:element minOccurs="0" name="FuelLevel" type="xs:double" />
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="tns:GPSPos" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="tns:Route" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="GPSData" nillable="true" type="tns:GPSData" />
  <xs:complexType name="ArrayOfAdditionalCost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalCost" nillable="true" type="tns:AdditionalCost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdditionalCost" nillable="true" type="tns:ArrayOfAdditionalCost" />
  <xs:complexType name="AdditionalCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="RouteData" nillable="true" type="tns:GPSData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalCost" nillable="true" type="tns:AdditionalCost" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Routes" nillable="true" type="tns:ArrayOfRoute" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfRoute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Route" nillable="true" type="tns:Route" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoute" nillable="true" type="tns:ArrayOfRoute" />
</xs:schema>